body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li:before {
    content: "⮚ ";
}

.datos-personales {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.perfil,
.estudios,
.formacion-complementaria,
.experiencia,
.habilidades {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.perfil h2,
.estudios h2,
.formacion-complementaria h2,
.experiencia h2,
.habilidades h2 {
    color: #007bff;
}

.habilidades-lista ul {
    margin-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}